<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.thatcsharpguy.charphat2" android:versionCode="3" android:versionName="2.1">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21" />
	<application android:label="CharpHat" android:icon="@drawable/Icon">
		<application android:label="TextureViewCameraStream" android:hardwareAccelerated="true" />
	</application>
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>